{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h4 class="display-4">Bienvenidos</h4>
    <p class="lead">Completa los campos para obtener la predicción necesaria</p>
    <hr class="my-4">

    <form class="form-inline" action="/select_country" method="POST">
        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">País</label>
            </div>
            <select name="_country" class="custom-select" id="inputGroupSelect01">
                <option selected>Elige un pais...</option>
                {% for country in Countries %}
                <option value='{{ country }}'>{{ country }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group mb-6">
            <button class="btn btn-primary btn-lg" type="submit" name="btnSelectCountry">
                Seleccionar
            </button>
        </div>

    </form>
</div>
{% endblock %}